.ti{
    background-color: #C38C6B;
    color: rgb(0, 0, 0);
    height: 100px;
    width: 100% ;
}
th{
    padding-right: 138.5px;
    padding-left: 138.5px;
    background-color: #CFBFB9;
}
.po{
    background-color: #B97868;
    color: black;
    height: 250px;

}
.estante{
    width: 200px;
    margin-bottom: -1720px;
    margin-left: 20px;
    
}
.estante2{
    width: 200px;
    margin-bottom: -2320px;
    margin-left: 20px;

    
}

#carouselExampleIndicators img{
    height: 300px;
    width: 1000px;
    object-fit: contain;
}