.ti{
    color: rgb(0, 0, 0);
    height: 60px;
    width: 100% ;
   font-family: "Cinzel", serif;
   font-optical-sizing: auto;
   font-weight: 450px;
   font-style: normal;
}
body{
  background-color: #c59f87dc;  
}
table{
    padding-right: 5%;
    padding-left: 5%;
    width: 100%;
    background-color: #B97868;
}
.po{
    background-color: #B97868;
    color: black;
    height: 250px;

}
.estante{
    background-image: url(../img/librero.png);
    resize: both;
    overflow-x: auto;
    background-repeat: repeat-x;
    width: 200px;
    margin-bottom: ; 
    margin-left: 20px;
    
    
}
.estante2{
    width: 200px;
    margin-bottom: -1570px;
    margin-left: 20px;

    
}
#carouselExampleControls{
    height: 200px;
   

}
#carouselExampleControls img{
    height: 200px;
    width: 800px;
    object-fit: contain;
}
#carousel-control-prev{
    width: 50px;

}
a{
    text-decoration: none;
    color: black;
}    
a:hover{
        color: #884a32;
    }
.plan{
    margin-bottom: -490px;
    margin-left: 1060px;
    width: 300px;
}  